* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Poppins", sans-serif;
}

.scan-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.container {
  outline-color: rgb(189, 184, 179);
  outline-style: solid;
  width: 600px;
  height: 500px;
  background: rgba(221, 216, 216, 0.411);
  text-align: center;
  padding: 50px 35px 10px 35px;
}

.container header {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 30px;
  /* margin: 0 0 30px 0;
  box-shadow: 0 6px 20px rgba(134, 134, 134, 0.308);
  -webkit-filter: drop-shadow(10px 6px 20px rgba(134, 134, 134, 0.274));
  filter: drop-shadow(10px 6px 20px rgba(128, 128, 128, 0.281)); */
}

.container .box1 {
  position: relative;
  outline-color: rgb(189, 184, 179);
  outline-style: solid;
  left: 10px;
  background-color: rgb(255, 255, 255);
  width: 250px;
  height: 300px;

  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; */
}

.container .box2 {
  position: relative;
  outline-color: rgb(189, 184, 179);
  outline-style: solid;
  left: 350px;
  bottom: 300px;
  background-color: rgb(255, 255, 255);
  width: 250px;
  height: 300px;

  /* display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; */
}

.btn {
  color: blue;
  position: relative;
  bottom: 250px;
  width: 100px;
  height: 30px;
  border-radius: 8px;
  font-weight: 700;
}

.btn:hover {
  color: brown;
  background-color: rgb(126, 123, 119);
}

.hide {
  width: 20px;
  height: 700px;
}
